@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "TT-Commons-Extralight";
  src: url("../assets/fonts/TT-Commons-ExtraLight.otf") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "TT-Commons-light";
  src: url("../assets/fonts/TT-Commons-Light.otf") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "TT-Commons-regular";
  src: url("../assets/fonts/TT-Commons-Regular.otf") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "TT-Commons-medium";
  src: url("../assets/fonts/TT-Commons-Medium.otf") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "TT-Commons-semiBold";
  src: url("../assets/fonts/TT-Commons-DemiBold.otf") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "TT-Commons-bold";
  src: url("../assets/fonts/TT-Commons-Bold.otf") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "TT-Commons-extraBold";
  src: url("../assets/fonts/TT-Commons-ExtraBold.otf") format("opentype");
  font-display: swap;
}
